build-*-*/
*-build-*/
[Bb]uild/
latex/

deps/**/*.pb.h
deps/**/*.pb.cc



.directory
Doxyfile
Makefile
Makefile2
Makefile.*
*.o
*.obj
*.dll
*.*~
*.pdb
.svn/
*.pro.user
*.pro.user.*
object_script.*.*
*.sdf
*.user
*.suo
*.rar
*.autosave
*.pb.h
*.pb.cc
*.Po
*.Plo
*.lo
*.la
.qmake.stash


# Generated MOC, resource and UI files
moc_*.cpp
qrc_*.cpp
ui_*.h

